
.last-news-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.last-news-page > div{
    width: 32%;
}
.last-news-page img{
    width: 100%;
}
.last-news-page div p{
    color: #000;
    text-align: left;
}
.last-news-page span{
    color: #000;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}
.last-news-page a{
  text-decoration: none;
}
.single-page p{
    color:#000
}